node.txt
[{"id":"e39e3a02.75eb28","type":"tab","label":"Grove Documentation","disabled":false,"info":""},{"id":"d88fd49e.8f7548","type":"tab","label":"Beacon Documentation","disabled":false,"info":""},{"id":"e43d7f5.ac0598","type":"tab","label":"API Documentation","disabled":false,"info":""},{"id":"bd3302c6.eb271","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"8d0dc57f.9fc628","type":"tab","label":"SmartWalker","disabled":false,"info":""},{"id":"ae1d04a7.069968","type":"board-config","z":"","board":"GrovePi"},{"id":"9e6b6366.de96d","type":"grove digital sensor","z":"e39e3a02.75eb28","name":"Ultrasonice Ranger","board":"ae1d04a7.069968","sensor":"ultrasonic","repeat":"1","pin":"7","x":130,"y":240,"wires":[["497900fa.40a4d","b42f4737.d605c8"]]},{"id":"67561845.b80578","type":"inject","z":"e39e3a02.75eb28","name":"LED On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["5957bddb.799b54"]]},{"id":"7f26f66f.db77a8","type":"inject","z":"e39e3a02.75eb28","name":"LED Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["5957bddb.799b54"]]},{"id":"441515ae.b4626c","type":"grove digital output","z":"e39e3a02.75eb28","name":"LED","board":"ae1d04a7.069968","pin":"4","x":770,"y":120,"wires":[]},{"id":"497900fa.40a4d","type":"function","z":"e39e3a02.75eb28","name":"func on_led","func":"//Turn on led if ranger value greater than 100\n\n/*\n * LED On: 1\n * LED Off: 0\n*/\n\nvar ultrasonic = msg.payload || 0; // get ranger value\n\nif(ultrasonic > 100){\n    \n    msg.payload = 1; //set led to on\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["5957bddb.799b54"]]},{"id":"8744cf0b.2ce54","type":"http in","z":"e43d7f5.ac0598","name":"","url":"/api/getstatus","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["736a9e13.17d54"]]},{"id":"82564d83.386eb","type":"http response","z":"e43d7f5.ac0598","name":"","statusCode":"","headers":{},"x":570,"y":60,"wires":[]},{"id":"61116326.ff271c","type":"debug","z":"d88fd49e.8f7548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":60,"wires":[]},{"id":"a6fbd96a.086e78","type":"BeaconScanner","z":"d88fd49e.8f7548","name":"","duplicates":"true","gracePeriod":"5000","x":100,"y":160,"wires":[["1722e891.2b20b7","61116326.ff271c"]]},{"id":"736a9e13.17d54","type":"function","z":"e43d7f5.ac0598","name":"format json","func":"var json = {\n    \"status\" : \"ok\",\n    \"text\" : \"Hello World\"\n}\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["82564d83.386eb"]]},{"id":"8f115383.b9857","type":"http in","z":"e43d7f5.ac0598","name":"","url":"/api/postdata","method":"post","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["14944d5e.c78de3"]]},{"id":"ebdf76a1.2a80c8","type":"http response","z":"e43d7f5.ac0598","name":"","statusCode":"","headers":{},"x":570,"y":140,"wires":[]},{"id":"14944d5e.c78de3","type":"function","z":"e43d7f5.ac0598","name":"format json","func":"var email = msg.payload.email || undefined;\nvar password = msg.payload.password || undefined;\nvar json = {\n    \"status\" : \"error\"\n};\n\nif(email != undefined && password != undefined){\n    \n    json[\"status\"] = \"success\";\n    json[\"email\"] = email;\n    json[\"password\"] = password;\n    \n    var obj = {\n        \"text1\" : \"Hello\",\n        \"text2\" : \"World\"\n    }\n    json[\"obj\"] = obj;\n    \n    //advance multiple obj\n    var array = [];\n    for (var i = 0; i < 3; i++) {\n        var object = {\n            \"key\" : i,\n            \"value\" : \"value\" + i\n        }\n        array.push(object);\n    }\n    json[\"array\"] = array;\n}\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["ebdf76a1.2a80c8"]]},{"id":"acd80f06.14d49","type":"comment","z":"e43d7f5.ac0598","name":"API Status","info":"Get the API status","x":100,"y":20,"wires":[]},{"id":"f95560c3.4e22f","type":"comment","z":"e43d7f5.ac0598","name":"POST data example","info":"","x":130,"y":100,"wires":[]},{"id":"1722e891.2b20b7","type":"function","z":"d88fd49e.8f7548","name":"set heartcode eddystoneurl data","func":"var beacon_obj = msg.payload;\nif(beacon_obj.address == \"fb:0c:5d:6e:20:73\"){\n    \n    var url = beacon_obj.eddystoneUrl.url;\n    var type = (url.indexOf(\"/a/\") !== -1) ? url.indexOf(\"/a/\") : url.indexOf(\"/e/\");\n    var json = {\n        \"timestamp\" : Math.round(Date.now()/1000),\n        \"address\" : beacon_obj.address\n    };\n    \n    var data = url.substring(type+3).split(\"/\");\n    if(data.length === 2){\n        //temp & light\n        json[\"type\"] = \"env\";\n        json[\"temp\"] = data[0];\n        json[\"light\"] = data[1];\n        global.set(\"beacon_env\", json);\n        \n    } else if (data.length === 3) {\n        //accelerometer\n        json[\"type\"] = \"xyz\";\n        json[\"x\"] = data[0];\n        json[\"y\"] = data[1];\n        json[\"z\"] = data[2];\n        global.set(\"beacon_xyz\", json);\n    }\n}","outputs":1,"noerr":0,"x":410,"y":160,"wires":[[]]},{"id":"218b9608.d0414a","type":"comment","z":"d88fd49e.8f7548","name":"find your beacon","info":"1. Enable the debugger\n2. Look for ur beacon with the URL \n   (e.g. aa:11:bb:22:cc:33)\n3. Copy the mac address\n4. Disable the debugger","x":360,"y":20,"wires":[]},{"id":"1dffb85c.8ed858","type":"comment","z":"d88fd49e.8f7548","name":"filter heartcode microbit eddystone url","info":"1. filter heartcode microbit eddystone url\n2. once found, check the data type\n3. set to global variable with the data type","x":430,"y":120,"wires":[]},{"id":"7f2318fe.cac728","type":"comment","z":"e43d7f5.ac0598","name":"API [GET]","info":"","x":100,"y":220,"wires":[]},{"id":"55ad2c1e.dd6434","type":"http in","z":"e43d7f5.ac0598","name":"","url":"/api/getultrasonicdata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["25cf691a.05a736"]]},{"id":"25cf691a.05a736","type":"function","z":"e43d7f5.ac0598","name":"format json","func":"var ultrasonic = global.get(\"ultrasonic\") || undefined;\nvar json = {\n    \"status\" : \"error\"\n};\n\nif(ultrasonic !== undefined){\n    \n    json[\"status\"] = \"success\";\n    json[\"result\"] = global.get(\"ultrasonic\");\n}\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["f234b048.ab279"]]},{"id":"f234b048.ab279","type":"http response","z":"e43d7f5.ac0598","name":"","statusCode":"","headers":{},"x":570,"y":260,"wires":[]},{"id":"49c24572.a48dbc","type":"comment","z":"e43d7f5.ac0598","name":"get ultrasonic data","info":"Return the last found beacon object by:\n1. Detect the url parameter type of xyz / env\n2. get the last found beacon data\n3. return the data in json","x":410,"y":220,"wires":[]},{"id":"b42f4737.d605c8","type":"function","z":"e39e3a02.75eb28","name":"set ultrasonic record","func":"var ultrasonic = msg.payload || -1;\n\nif(ultrasonic > -1){\n    var data = {\n        \"timestamp\" : Math.round(Date.now()/1000),\n        \"range\" : ultrasonic\n    }\n    global.set(\"ultrasonic\", data);\n}","outputs":1,"noerr":0,"x":360,"y":260,"wires":[[]]},{"id":"5957bddb.799b54","type":"function","z":"e39e3a02.75eb28","name":"set LED status","func":"var cmd = msg.payload || 0;\n\nif(cmd >= 0){\n    var data = {\n        \"timestamp\" : Math.round(Date.now()/1000),\n        \"status\" : cmd\n    }\n    global.set(\"led\", data);\n    return msg;    \n}","outputs":1,"noerr":0,"x":540,"y":120,"wires":[[]]},{"id":"dd0cf534.c71318","type":"comment","z":"e43d7f5.ac0598","name":"API [POST]","info":"","x":110,"y":420,"wires":[]},{"id":"4b97bc7d.1e4184","type":"http in","z":"e43d7f5.ac0598","name":"","url":"/api/getbeacondata","method":"post","upload":false,"swaggerDoc":"","x":150,"y":460,"wires":[["f9ea1d77.0aeb1"]]},{"id":"f9ea1d77.0aeb1","type":"function","z":"e43d7f5.ac0598","name":"format json","func":"var type = msg.payload.type || undefined;\nvar json = {\n    \"status\" : \"error\"\n};\n\nif(type !== undefined){\n    \n    json[\"status\"] = \"success\";\n    json[\"result\"] = global.get(\"beacon_\"+type);\n}\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["12cb46e4.c3d3c9"]]},{"id":"12cb46e4.c3d3c9","type":"http response","z":"e43d7f5.ac0598","name":"","statusCode":"","headers":{},"x":570,"y":460,"wires":[]},{"id":"9e23dea5.3bb5f","type":"comment","z":"e43d7f5.ac0598","name":"get beacon data [type=env/xyz]","info":"Return the last found beacon object by:\n1. Detect the url parameter type of xyz / env\n2. get the last found beacon data\n3. return the data in json","x":450,"y":420,"wires":[]},{"id":"622fcb5c.975424","type":"comment","z":"e43d7f5.ac0598","name":"API [GET]","info":"","x":100,"y":300,"wires":[]},{"id":"47e1189.56873e8","type":"http in","z":"e43d7f5.ac0598","name":"","url":"/api/getleddata","method":"get","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["77294259.89191c"]]},{"id":"77294259.89191c","type":"function","z":"e43d7f5.ac0598","name":"format json","func":"var led = global.get(\"led\") || undefined;\nvar json = {\n    \"status\" : \"error\"\n};\n\nif(led !== undefined){\n    \n    json[\"status\"] = \"success\";\n    json[\"result\"] = global.get(\"led\");\n}\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["8d8321f1.e8e04"]]},{"id":"8d8321f1.e8e04","type":"http response","z":"e43d7f5.ac0598","name":"","statusCode":"","headers":{},"x":570,"y":340,"wires":[]},{"id":"66d04520.82714c","type":"comment","z":"e43d7f5.ac0598","name":"get led status","info":"Return the last found beacon object by:\n1. Detect the url parameter type of xyz / env\n2. get the last found beacon data\n3. return the data in json","x":390,"y":300,"wires":[]},{"id":"c2044399.2ec0f","type":"http in","z":"e43d7f5.ac0598","name":"","url":"/api/setled","method":"post","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["dff47afe.61a198"]]},{"id":"dff47afe.61a198","type":"function","z":"e43d7f5.ac0598","name":"format json","func":"var cmd = msg.payload.cmd || undefined;\nvar json = {\n    \"status\" : \"error\"\n};\n\nif(cmd !== undefined){\n    \n    json[\"status\"] = \"success\";\n    json[\"led\"] = global.get(\"led\");\n}\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["6f912fe2.36b14","2fe1d8c1.1fb818"]]},{"id":"6f912fe2.36b14","type":"http response","z":"e43d7f5.ac0598","name":"","statusCode":"","headers":{},"x":570,"y":540,"wires":[]},{"id":"2fe1d8c1.1fb818","type":"link out","z":"e43d7f5.ac0598","name":"set LED","links":["682126ff.e150b8"],"x":535,"y":580,"wires":[]},{"id":"31c102ef.1de44e","type":"comment","z":"e43d7f5.ac0598","name":"get led data [cmd=1/0]","info":"Return the last found led object by:\n1. Detect the url parameter cmd of 1 / 0\n2. get the last found led data\n3. return the data in json","x":420,"y":500,"wires":[]},{"id":"682126ff.e150b8","type":"link in","z":"e39e3a02.75eb28","name":"get LED","links":["2fe1d8c1.1fb818","be00afdc.47bbb"],"x":175,"y":40,"wires":[["18fe325c.efc75e"]]},{"id":"18fe325c.efc75e","type":"function","z":"e39e3a02.75eb28","name":"send LED cmd","func":"var cmd = msg.payload.led.status || 0;\nmsg.payload = cmd;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":40,"wires":[[]]},{"id":"6f853530.cde76c","type":"BeaconScanner","z":"bd3302c6.eb271","name":"","duplicates":"true","gracePeriod":5000,"x":100,"y":60,"wires":[["f4bf3f92.1b977","b64af926.332738","a5dd18ad.3cb0a8"]]},{"id":"f4bf3f92.1b977","type":"function","z":"bd3302c6.eb271","name":"","func":"var address = \"fb:0c:5d:6e:20:73\";\nvar macs = [\n    \"e7:b3:93:86:07:ad\",\n    \"dd:70:52:8a:58:97\",\n    \"fb:0c:5d:6e:20:73\",\n    \"d8:77:a5:1d:a3:04\"\n];\n\n// macs[0]\n\n//only debug our own microbit\nif(msg.payload.address == address){\n// if(macs.indexOf(msg.payload.address) > -1){\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["e29ec7b1.497de8"]]},{"id":"e29ec7b1.497de8","type":"debug","z":"bd3302c6.eb271","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":60,"wires":[]},{"id":"b64af926.332738","type":"debug","z":"bd3302c6.eb271","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":20,"wires":[]},{"id":"bbbb2b69.0018f8","type":"grove digital sensor","z":"bd3302c6.eb271","name":"Ultrasonic Ranger 1","board":"ae1d04a7.069968","sensor":"ultrasonic","repeat":"1","pin":"4","x":150,"y":380,"wires":[["964a1dfe.4e8e3","944cf1ff.08ece"]]},{"id":"57fd9910.02f8f8","type":"debug","z":"bd3302c6.eb271","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":380,"wires":[]},{"id":"2afc5dae.ff88b2","type":"grove digital output","z":"bd3302c6.eb271","name":"LED 1","board":"ae1d04a7.069968","pin":"5","x":550,"y":520,"wires":[]},{"id":"f73d09a1.78a968","type":"inject","z":"bd3302c6.eb271","name":"LED on","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":540,"wires":[["2afc5dae.ff88b2","fd5e6ba9.c5aab8"]]},{"id":"6c9909e1.c16e18","type":"inject","z":"bd3302c6.eb271","name":"LED off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":600,"wires":[["2afc5dae.ff88b2","fd5e6ba9.c5aab8"]]},{"id":"fd5e6ba9.c5aab8","type":"grove digital output","z":"bd3302c6.eb271","name":"LED 2","board":"ae1d04a7.069968","pin":"6","x":550,"y":600,"wires":[]},{"id":"964a1dfe.4e8e3","type":"function","z":"bd3302c6.eb271","name":"","func":"var ranger = msg.payload\nif (ranger >= 100){\n    msg.payload = 0\n}else{\n    var light=flow.get('light') || 0;\n    if(light == 1){\n        msg.payload = 1\n    }\n    else{\n        msg.payload = 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["57fd9910.02f8f8","2afc5dae.ff88b2"]]},{"id":"944cf1ff.08ece","type":"debug","z":"bd3302c6.eb271","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":320,"wires":[]},{"id":"9258345a.fd1268","type":"grove digital sensor","z":"bd3302c6.eb271","name":"Ultrasonic Ranger 2","board":"ae1d04a7.069968","sensor":"ultrasonic","repeat":"1","pin":"8","x":150,"y":440,"wires":[["7069629b.3aba2c"]]},{"id":"7069629b.3aba2c","type":"function","z":"bd3302c6.eb271","name":"","func":"var ranger = msg.payload\nif (ranger >= 100){\n    msg.payload = 1\n}else{\n    var light=flow.get('light') || 0;\n    if(light == 1){\n        msg.payload = 0\n    }\n    else{\n        msg.payload = 0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["fd5e6ba9.c5aab8"]]},{"id":"a5dd18ad.3cb0a8","type":"function","z":"bd3302c6.eb271","name":"","func":"var beacon_obj = msg.payload;\nif(beacon_obj.address == \"fb:0c:5d:6e:20:73\"){\n    \n    var url = beacon_obj.eddystoneUrl.url;\n    var type = (url.indexOf(\"/a/\") !== -1) ? url.indexOf(\"/a/\") : url.indexOf(\"/e/\");\n    var data = url.substring(type+3).split(\"/\");\n    if(data.length === 2){\n        var light = data[1]\n        if(light >=100 ){\n            msg.payload = 0\n        }\n        else{\n            msg.payload = 1\n        }\n    }\n    flow.set('light',msg.payload);\n    return msg\n}","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["4398d95b.a82158"]]},{"id":"4398d95b.a82158","type":"debug","z":"bd3302c6.eb271","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":220,"wires":[]},{"id":"56cbe25f.9ba27c","type":"grove digital sensor","z":"8d0dc57f.9fc628","name":"Ultrasonic","board":"ae1d04a7.069968","sensor":"ultrasonic","repeat":"1","pin":"7","x":120,"y":60,"wires":[["4e1db710.24a448","19684a52.bab9c6"]]},{"id":"4e1db710.24a448","type":"function","z":"8d0dc57f.9fc628","name":"","func":"var ranger = msg.payload\nif(ranger >= 50){\n    msg.payload = 0\n}\nelse{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["6ddeb6c0.8e0ec8"]]},{"id":"6ddeb6c0.8e0ec8","type":"grove digital output","z":"8d0dc57f.9fc628","name":"LED","board":"ae1d04a7.069968","pin":"4","x":690,"y":100,"wires":[]},{"id":"aecb684c.2fa588","type":"BeaconScanner","z":"8d0dc57f.9fc628","name":"","duplicates":"true","gracePeriod":5000,"x":120,"y":320,"wires":[["2a42ee16.9de632","9632b5e6.c08a48"]]},{"id":"2a42ee16.9de632","type":"function","z":"8d0dc57f.9fc628","name":"","func":"var address = \"fb:0c:5d:6e:20:73\";\n\n//only debug our own microbit\nif(msg.payload.address == address){\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":330,"y":320,"wires":[[]]},{"id":"19684a52.bab9c6","type":"debug","z":"8d0dc57f.9fc628","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":180,"wires":[]},{"id":"9632b5e6.c08a48","type":"function","z":"8d0dc57f.9fc628","name":"","func":"var beacon_obj = msg.payload;\nif(beacon_obj.address == \"fb:0c:5d:6e:20:73\"){\n    \n    var url = beacon_obj.eddystoneUrl.url;\n    var type = (url.indexOf(\"/a/\") !== -1) ? url.indexOf(\"/a/\") : url.indexOf(\"/e/\");\n    var data = url.substring(type+3).split(\"/\");\n    if (data.length === 3) {\n        \n        var y = data[1]\n        if (y <= 200){\n            msg.payload.status = \"danger\"\n        }\n        else{\n            msg.payload.status = \"nodanger\"\n        }\n    }\n    flow.set('result',msg.payload.status);\n    return msg\n}","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["3aa1d053.eae0f"]]},{"id":"69cfdc75.39d254","type":"inject","z":"8d0dc57f.9fc628","name":"LED on","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":760,"y":180,"wires":[[]]},{"id":"8ce93f21.9dae7","type":"inject","z":"8d0dc57f.9fc628","name":"LED off","topic":"","payload":"0","payloadType":"num","repeat":"2","crontab":"","once":true,"onceDelay":"2","x":740,"y":240,"wires":[[]]},{"id":"3aa1d053.eae0f","type":"debug","z":"8d0dc57f.9fc628","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":380,"wires":[]},{"id":"75cb8e9c.aa267","type":"http in","z":"8d0dc57f.9fc628","name":"","url":"/api/getresult","method":"get","upload":false,"swaggerDoc":"","x":130,"y":480,"wires":[["ede39041.63a63"]]},{"id":"ede39041.63a63","type":"function","z":"8d0dc57f.9fc628","name":"format json","func":"var result = flow.get('result')  || undefined;\nvar json = {\n    \"status\" : \"error\"\n};\n\nif(result !== undefined){\n    \n    json[\"status\"] = \"success\";\n    json[\"result\"] = result;\n}\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["870bb596.a96608","2f6d5cb5.3a3cb4"]]},{"id":"870bb596.a96608","type":"http response","z":"8d0dc57f.9fc628","name":"","statusCode":"","headers":{},"x":570,"y":480,"wires":[]},{"id":"2f6d5cb5.3a3cb4","type":"debug","z":"8d0dc57f.9fc628","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":580,"wires":[]}]